<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= champions.name %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>

<body>
    <h1>
        <%= champions.name %>
    </h1>
    <a href="/champions/<%= champions.id %>/new">Create a build</a>

    <ul>
        <% builds.forEach((build)=> { %>
            <li>
                <%= build.name %>
            </li>
            <% }) %>
    </ul>
</body>

</html>

<!-- show specific champ -->
<!-- show builds here -->